body{
    margin: 0;
    padding: 0;
}

header{
    width: 100%;
    display: table;
    height: 60px ;
    background: rgb(3, 8, 15);
}

header span{
    font-size: 24px;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman';
    font-weight: bold;
    color: aqua;
    padding: 10 px;
    display: table;
    margin: 0 auto;

}
#posts{
    width: 300px;
    height: 50 px;
    margin: 0 auto;
    padding: 30px;
    display: table;
}
.post {
    margin-bottom: 30px;
}
.post img{
    max-width: 500px;
    max-height: 400px;
    display: table;

}
